body{
    background-color:black;
}

head{
    background-color: black;
}
.calculator{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    width: 400px;
    background-color: black;
}

.calculator-screen{
    width: 100%;
    height: 100px;
    background-color: #38520473;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-histori-screen{
    width: 100%;
    height: 100px;
    border-color: rgb(20, 26, 18);
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    padding: 0 20px;
    box-sizing: border-box
}

.calculator-keys{
    width: 100%;
}

.row{
    display: flex;
}

button{
   height: 80px;
   background-color: rgba(111, 168, 35, 0.644);
   border: 1px solid rgb(217, 243, 144);
   font-size: 32px;
   color: rgb(255, 233, 107);
   width: 25%;
   outline: none;
}

.all-clear, .zero-btn{
    width: 50%;
}

.operator, .equal-sign{
    background-color:rgba(161, 185, 21, 0.212);
}

button:hover{
    background-color: rgb(82, 145, 32);
}

.operator:hover, .equal-sign:hover{
    background-color: rgb(91, 160, 27);
}
